
.btn {

    /* Posição do Botão */

    position: absolute;
    top: 50%;
    left: 45%;
    margin-right: -50%;

    /* Cor do Botão e Fonte */

    background: #e1e4e8;
    color: black;

    /* Espaçamento, tamanho da fonte e bordas do botão */
    
    padding: 15px 35px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
}

  /* Primeiro efeito do botão */
.btn:hover {
    background: #cccccc;
}

  /* Segundo efeito do botão  */
.btn:focus {
    background: #a6a6a6;
}
