*
  box-sizing: border-box

body
  color: #222
  background-color: #fff
  font-family: 'Montserrat', sans-serif
  transition: background-color .5s, color .5s
  margin: 0
  padding: 0

.body--night-mode
  background-color: #222
  color: darken(white, 15%)

.header
  text-align: right
  width: 80vw
  max-width: 500px
  display: flex
  flex-direction: column
  padding: 1rem
  margin: auto  
  
.header__title
  display: block  

.tumbler__wrapper
  margin-left: auto
  width: 50px
  height: 30px
  background-color: black
  border: darken(#aae2f1, 40)
  border-radius: 30px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 6px
  cursor: pointer
  display: flex
  position: relative
  
  svg
    width: 15px
    height: 15px

  
.tumbler
  position: absolute
  height: 20px
  width: 20px
  border-radius: 50%
  background-color: #fff
  transition: transform .5s, background-color .5s
  will-change: transform

.tumbler--night-mode  
  transform: translateX(calc(100% - 2px))
  
.credits
  display: none
  
.sun-svg,
.moon-svg
  display: none
  
.main
  width: 80vw
  max-width: 500px
  padding: 0 1rem
  margin: auto

.post 
  border-bottom: 1px dashed #222
  margin-bottom: 1rem
  transition: border-bottom .5s
  
.post--night-mode
  border-bottom: 1px dashed darken(white, 15%)
  
.post__title
  font-weight: 700
  
  &:first-child
    margin-top: 0
  
.footer
  width: 80vw
  max-width: 500px
  padding: 1rem
  margin: 0 auto 1.5rem
  
.description
  display: flex
    
.description__text
  margin-right: 0.25rem
  
.loveSvg svg
  display: block
  height: 1rem
  max-width: 1rem
  
.btn 
  background-color: #035E7F
  color: white
  padding: 14px 25px
  text-align: center
  text-decoration: none
  display: inline-block
  border-radius: 0.2rem
