.modal-window {
    position: fixed;
    background-color: rgba(3, 94, 127, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0.2rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;                    
}

.modal-window header {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}
  
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: black;
}

html,
body {
    height: 100%;
}

body {
    font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; ;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7f53ac), to(#657ced));
    background-image: linear-gradient(to right, #000 0, #000 100%);
    color: black;
}

a {
    color: inherit;
}

.container {
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

small {
    color: #aaa;
}

.btn {
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 3px;
    text-decoration: none;
}

.btn i {
    padding-right: 0.3em;
}
