body {
    padding: 250px;
    position: absolute;
    left: 35rem;
  }
  
  .tooltip {
    position:relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
    border: 1px solid gray;
    padding: 15px 15px;
    border-radius: 0.3rem;
}
  
  
  .tooltip:before {
    content: attr(data-text); /* here's the magic */
    position:absolute;
    
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
    
    /* move to right */
    left:100%;
    margin-left:15px; /* and add a small left margin */
    
    /* basic styles */
    width:200px;
    padding:10px;
    border-radius:10px;
    background:#000;
    color: #fff;
    text-align:center;
  
    display:none; /* hide by default */
  }
  
  
  .tooltip:hover:before {
    display:block;
  }
  
  .tooltip:after {
    content: "";
    position:absolute;
    
    /* position tooltip correctly */
    left:100%;
    margin-left:-5px;
   
    /* vertically center */
    top:50%;
    transform:translateY(-50%);
   
    /* the arrow */
    border:10px solid #000;
    border-color: transparent black transparent transparent;
    
    display:none;
  }
  .tooltip:hover:before, .tooltip:hover:after {
    display:block;
  }
  
