* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica, Sans-serif;
    word-spacing: -2px;
}


/* Conficurações do H1 */
h1 {
    font-size: 40px;
    font-weight: bold;
    color: #191919;
    -webkit-font-smoothing: antialiased;
}

/* Conficurações do H2 */
h2 {
    font-weight: normal;
    font-size: 20px;
    color: #888;
    padding: 5px 0;
}


/* cor de fundo da página */
body {
    background: #ECF0F1;
}

.message {
    background: #181818;
    color: #FFF;
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 250px;
    padding: 20px;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;
}

.message h1 {
    color: #FFF;
}

#alter {
    position: absolute;
    appearance: none;
    cursor: pointer;
    left: -100%;
    top: -100%;
}

#alter + label {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    background: #10553A;
    width: 100px;
    border-radius: 3px;
    padding: 8px 10px;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    margin: 20px 50px;
    translate: all 500ms ease;
}

#alter + label::after {
    content: "Abrir"
}

.container {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding: 5em 3em;
}

#alter:checked ~ .message {
    top: 0;
}

#alter:checked ~ .container {
    margin-top: 250px;
}

/* alterações após clicar no batão */


/* alterar a cor do batão */
#alter:checked + label {
    background: #551210;
}

/* alterar a palavra do batão */
#alter:checked + label:after {
    content:"Fechar"
}
