@import url('https://fonts.googlepis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #D9D9D9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background: #DBCECB;
}

.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}

.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}

.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content::before {
  position: absolute;
  content: 0;
  top: -10px;
  height: 2;
  width: 100%;
  background: #1A1A1A;
}

.box .content::after {
  position: absolute;
  content: 0;
  height: 2px;
  width: 25%;
  background: #035e7f;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a{
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1A1A1A;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left  .content .social a span:hover {
  background: #000;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1A1A1A;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 3px;
}

.center .content .fas:hover {
  background: #035e7f;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .msg {
  margin-top: 10px;
}

.right form input, .right form .msgForm {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input:focus,
.right form .msgForm:focus {
  outline-color: #035e7f;
}

.right form input {
  height: 35px;
  border-radius: 0.3rem;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #035e7f;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px 5px 0 0;
}

.right form .btn button:hover{
  background: #000;
}

.bottom center {
  padding: 15px;
  font-size: 0.9375rem;
  background: #151515;
  border-radius: 0px 0px 5px 5px;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #035e7f;
  text-decoration: none;
}

.bottom .center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    margin: 5px 0;
  }
}

.title-project {
  color: #000;
  font-size: 1.1875rem;
  font-weight: 600;
}
